@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Pretendard, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'Pretendard';
  src: url('assets/font/PretendardVariable.ttf');
}

#nav-root {
  width: 100vw;
  --height: 100px;
  background-color: #ffffff;
}

#root {
  display: flex;
  justify-content: center;
}
